# For FastAPI web framework and server
fastapi
uvicorn[standard]
pydantic
prometheus-fastapi-instrumentator

# For LangChain and OpenAI models
langchain
langchain-openai
openai
langchain-community
ollama

# For loading environment variables
python-dotenv

# For testing
pytest
requests
httpx