<div class="player-bar">
  <mat-progress-bar [mode]="mode()" [value]="progressPercent()"></mat-progress-bar>

  <div class="player-content">
    <div class="song-info">
      <div matListItemIcon class="song-logo" [ngStyle]="getTrackLogo()">
        <span>{{ getTrackLogo().initials }}</span>
      </div>

      <div class="song-details">
        <div class="song-title">{{ currentTitle() }}</div>
        <div class="song-artist">{{ currentArtist() }}</div>
      </div>
    </div>

    <div class="control-buttons">
      <button mat-icon-button (click)="togglePlay()" aria-label="Toggle Play">
        <mat-icon>{{ icon() }}</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleQueue()" aria-label="Open Queue">
        <mat-icon>queue_music</mat-icon>
      </button>
    </div>
  </div>
</div>
