

<div class="content">

  <div class="equalizer" [class.playing]="playService.isPlaying()">
    @for (bar of bars(); track $index) {
      <div class="bar" [style.animation-delay]="bar.delay + 's'"></div>
    }
  </div>

  <p>{{ this.currentMessage() }}</p>

  <mat-progress-bar  #progressBar [mode]="mode()" [value]="progressPercent()"></mat-progress-bar>
  <!-- <p>{{ playService. }} / {{ duration }} seconds</p> -->

  <button mat-fab (click)="togglePlay()">
    <mat-icon [class.playing]="playService.isPlaying()">{{ icon() }}</mat-icon>
  </button>
</div>