@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  height: 100%; // This is crucial for filling the .outlet
  position: relative; // Needed for absolutely positioned audio-controls
}

app-header {
  flex-shrink: 0; // The header should not shrink
}

.container {
  flex: 1; // The container should grow to fill the remaining space
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  // Adjust padding-bottom to leave space for the absolutely positioned audio-controls
  padding-bottom: 24px; // Height of audio-controls (64px) + bottom padding (16px) + some extra for breathing room
  overflow: hidden; // Prevent the container itself from scrolling
}

// These styles ensure the three columns are flexible but have a minimum size
app-song-catalogue,
app-queue {
  flex: 1 1 300px; // flex-grow, flex-shrink, flex-basis
  min-width: 250px;
}

app-equalizer { // New style for equalizer
  flex: 1.5 1 400px;
  min-width: 320px;
  display: flex; // Ensure flex properties apply within the equalizer component
  justify-content: center;
  align-items: center;
}


// Update divider color for light theme
mat-divider {
  border-left-color: rgba(0, 0, 0, 0.12);
  height: 90%;
  align-self: center;
}
