@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  height: 100%; // This is crucial for filling the .outlet
}

app-header {
  flex-shrink: 0; // The header should not shrink
}

.container {
  flex: 1; // The container should grow to fill the remaining space
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  overflow: hidden; // Prevent the container itself from scrolling
}

// These styles ensure the three columns are flexible but have a minimum size
app-song-catalogue,
app-queue {
  flex: 1 1 300px; // flex-grow, flex-shrink, flex-basis
  min-width: 250px;
}

app-audio-controls {
  flex: 1.5 1 400px;
  min-width: 320px;
}

// Update divider color for light theme
mat-divider {
  border-left-color: rgba(0, 0, 0, 0.12);
  height: 90%;
  align-self: center;
}
