/* You can add global styles to this file, and also import other style files */

/* This rule makes layouts more predictable by including padding in the width calculation */
html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// stretch router outlet output component to full size
// always put a div with class "outlet" around any router outlets!
.outlet {
  display: grid;
  place-items: stretch;

  router-outlet {
    display: none;
  }
}
// Global override for all standard mat-buttons to be dark grey.
// This excludes icon buttons and FABs to avoid overriding their specific styles.
.mat-mdc-button:not([class*='mat-mdc-icon-button']):not([class*='mat-mdc-fab']) {
  background-color: #4b5563; // A dark, slate gray
  color: white;

  // Add a hover effect for better UX
  &:hover {
    background-color: #374151;
  }
}
