<h2>Available Songs</h2>
<mat-list>
  @for (song of queueService.availableSongs(); track $index) {
    <mat-list-item>
      <div matListItemIcon class="foo front-icon">
        <div class="meta">
          <mat-icon>library_music</mat-icon>
        </div>
      </div>
      <div matListItemTitle>{{ song.title }}</div>
      <div matListItemLine>{{ song.artist }}</div>
      <div matListItemMeta class="foo">
        <div class="meta">
        <button matIconButton>
          <mat-icon>playlist_add</mat-icon>
        </button>
        </div>
      </div>
    </mat-list-item>
  }
</mat-list>
