@use '@angular/material' as mat;

:host {
  @include mat.list-overrides((
    list-item-leading-icon-end-space: 10px,
  ));
  /* -- Add these two lines to make the component a flex container -- */
  display: flex;
  flex-direction: column;
  height: 100%; /* <-- THIS IS THE FIX */
}

mat-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}


.front-icon mat-icon {
  font-size: 40px;
  width: min-content;
  height: min-content;
}


.foo {
  height: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: min-content !important;
}
.meta {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  display: block;
  min-width: 0;
  margin: 0 20px 0 20px;
}

.song-list-viewport {
  /* -- Replace the old height rule with this one line -- */
  flex-grow: 1;
  width: 100%;
}
