@use '@angular/material' as mat;

:host {
  @include mat.list-overrides((
    list-item-leading-icon-end-space: 10px,
  ));
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}


.front-icon mat-icon {
  font-size: 40px;
  width: min-content;
  height: min-content;
}


.foo {
  height: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: min-content !important;
}
.meta {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  display: block;
  min-width: 0;
  margin: 0 20px 0 20px;
}

.song-list-viewport {
  flex-grow: 1;
  width: 100%;
}


::ng-deep .mat-mdc-list-item .mdc-list-item__content {
  overflow: hidden;
  min-width: 0;
}

/* This applies the ellipsis effect once the container can shrink. */
[matListItemTitle],
[matListItemLine] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

//Bugfix: Add this to make sure the wrapper is not too wide
::ng-deep .cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}
